<div class="footer" style="background-color: #3D362D">
	<div class=" uk-container uk-text-center">
		<p class="uk-margin-top">169/1 Nguyen Phan Vinh St., Cam An, Hoi An, Vietnam</p>
		<div class="uk-margin-bottom">
			<a class="uk-link-reset"  href="tel:+">call +00000000</a>
			<span style="color:black" class="uk-visible@s"> | </span>
			<hr style="    border-top: 1px solid black;" class="uk-hidden@s">
			<a class="uk-link-reset"  href="https://www.google.com/maps/place/Under+The+Coconut+Tree/@15.9141772,108.3346295,17z/data=!3m1!4b1!4m8!3m7!1s0x31420df960353045:0x8b1a648a1a90d87f!5m2!4m1!1i2!8m2!3d15.9141772!4d108.3368236" target="blank">location</a>
		</div>
	</div>
</div>