<!---modal One-Bedroom Bungalow -->

<div id="modalone" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto" style="background-color: transparent;">
        
        
        <div uk-slider="center:true" >

		    <div class=" uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

		        <ul class="uk-slider-items uk-child-width-1-1">
		            <li>
		                <img  data-src="./storage/app/media/room-one-1.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-one-2.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-one-3.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-one-4.jpg" uk-img >
		            </li>
		        </ul>

		        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
		        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

		    </div>

		    <!-- thumbnav @m -->

		    <div class="uk-visible@s uk-position-bottom-center uk-position-small" style="">
		        <ul class="uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-one-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-one-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-one-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-one-4.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		    <!-- thumbnav @s -->

		    <div class="uk-hidden@s uk-margin-top uk-flex-center" style="background-color: transparent;">
		        <ul class="uk-flex-center uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-one-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-one-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-one-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-one-4.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		</div>
	
    </div>
</div>


<!---modal del-Bedroom Bungalow -->

<div id="modaldel" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto" style="background-color: transparent;">
        
        
        <div uk-slider="center:true" >

		    <div class=" uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

		        <ul class="uk-slider-items uk-child-width-1-1">
		            <li>
		                <img  data-src="./storage/app/media/room-del-1.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-del-2.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-del-3.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-del-4.jpg" uk-img >
		            </li>
		        </ul>

		        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
		        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

		    </div>

		    <!-- thumbnav @m -->

		    <div class="uk-visible@s uk-position-bottom-center uk-position-small" style="">
		        <ul class="uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-del-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-del-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-del-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-del-4.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		    <!-- thumbnav @s -->

		    <div class="uk-hidden@s uk-margin-top uk-flex-center" style="background-color: transparent;">
		        <ul class="uk-flex-center uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-one-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-one-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-one-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-one-4.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		</div>
	
    </div>
</div>

<!---modal bun-Bedroom  -->

<div id="modalbun" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto" style="background-color: transparent;">
        
        
        <div uk-slider="center:true" >

		    <div class=" uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

		        <ul class="uk-slider-items uk-child-width-1-1">
		            <li>
		                <img  data-src="./storage/app/media/room-bun-1.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-bun-2.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-bun-3.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-bun-4.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-bun-5.jpg" uk-img >
		            </li>
		        </ul>

		        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
		        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

		    </div>

		    <!-- thumbnav @m -->

		    <div class="uk-visible@s uk-position-bottom-center uk-position-small" style="">
		        <ul class="uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-bun-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-bun-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-bun-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-bun-4.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="4"><a href="#"><img data-src="./storage/app/media/room-bun-5.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		    <!-- thumbnav @s -->

		    <div class="uk-hidden@s uk-margin-top uk-flex-center" style="background-color: transparent;">
		        <ul class="uk-flex-center uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-bun-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-bun-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-bun-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-bun-4.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="4"><a href="#"><img data-src="./storage/app/media/room-bun-5.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		</div>
	
    </div>
</div>

<!---modal st-room -->

<div id="modalst" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto" style="background-color: transparent;">
        
        
        <div uk-slider="center:true" >

		    <div class=" uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

		        <ul class="uk-slider-items uk-child-width-1-1">
		            <li>
		                <img  data-src="./storage/app/media/room-st-1.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-st-2.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-st-3.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-st-4.jpg" uk-img >
		            </li>
		        </ul>

		        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
		        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

		    </div>

		    <!-- thumbnav @m -->

		    <div class="uk-visible@s uk-position-bottom-center uk-position-small" style="">
		        <ul class="uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-st-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-st-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-st-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-st-4.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		    <!-- thumbnav @s -->

		    <div class="uk-hidden@s uk-margin-top uk-flex-center" style="background-color: transparent;">
		        <ul class="uk-flex-center uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-st-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-st-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-st-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-st-4.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		</div>
	
    </div>
</div>

<!---modal dorm-room -->

<div id="modaldorm" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto" style="background-color: transparent;">
        
        <div uk-slider="center:true" >

		    <div class=" uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

		        <ul class="uk-slider-items uk-child-width-1-1">
		            <li>
		                <img  data-src="./storage/app/media/room-dorm-1.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-dorm-2.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-dorm-3.jpg" uk-img >
		            </li>
		            <li>
		                <img  data-src="./storage/app/media/room-dorm-4.jpg" uk-img >
		            </li>
		        </ul>

		        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
		        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

		    </div>

		    <!-- thumbnav @m -->

		    <div class="uk-visible@s uk-position-bottom-center uk-position-small" style="">
		        <ul class="uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-dorm-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-dorm-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-dorm-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-dorm-4.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		    <!-- thumbnav @s -->

		    <div class="uk-hidden@s uk-margin-top uk-flex-center" style="background-color: transparent;">
		        <ul class="uk-flex-center uk-thumbnav">
		            <li uk-slider-item="0"><a href="#"><img data-src="./storage/app/media/room-dorm-1.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="1"><a href="#"><img data-src="./storage/app/media/room-dorm-2.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="2"><a href="#"><img data-src="./storage/app/media/room-dorm-3.jpg" uk-img width="100" alt=""></a></li>
		            <li uk-slider-item="3"><a href="#"><img data-src="./storage/app/media/room-dorm-4.jpg" uk-img width="100" alt=""></a></li>
		        </ul>
		    </div>

		</div>
	  </div>
    </div>