<!-- modal nav-->

<div id="navmodal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog uk-height-viewport" style="background-color: black" uk-scrollspy="cls: uk-animation-fade; repeat: true">
        
        <button class="uk-close-large uk-modal-close uk-margin-left uk-margin-top"  style="background-color: transparent;color:white " type="button" uk-close uk-scrollspy="cls: uk-animation-fade; repeat: true"></button>
        <div class="uk-height-viewport uk-flex uk-flex-middle uk-flex-center uk-text-center" uk-height-viewport="offset-top: true">
            <div class="uk-width-auto uk-light uk-text-large uk-text-normal uk-margin-medium-bottom">
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-margin-bottom"><a class="uk-text-large" href="{{'home'|page}}">Overview</a></li>
                     <li class="uk-nav-divider"></li>
                    <li><a class="uk-text-large" href="{{'dining'|page}}">Dining</a></li>
                     <li class="uk-nav-divider"></li>
                    <li class="uk-margin-top"><a class="uk-text-large" href="{{'accommodation'|page}}">Accomodation</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>